/* ===========================
   ABOUT SECTION
=========================== */

.about-section {
  padding: 80px 0;
background: radial-gradient(circle, rgba(244,67,54,0.25), transparent 70%);
  color: #fff;
}

.about-container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.about-row {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
}

/* ===========================
   IMAGE SECTION
=========================== */
.about-images {
  position: relative;
  flex: 1 1 45%;
  min-width: 300px;
}

.about-img-main img {
  width: 100%;
  border-radius: 18px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.about-img-overlay {
  position: absolute;
  width: 65%;
  bottom: -40px;
  right: -20px;
}

.about-img-overlay img {
  width: 100%;
  border-radius: 18px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* ===========================
   CONTENT SECTION
=========================== */
.about-content {
  flex: 1 1 45%;
  min-width: 300px;
}

.about-tag {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.about-title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #fff;
}

.about-content p {
  color: #e5e5e5;
  line-height: 1.7;
  margin-bottom: 15px;
}

/* ===========================
   BUTTON
=========================== */
.about-btn {
  display: inline-block;
  padding: 14px 34px;
  background: var(--primary);
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0 4px 20px rgba(5, 3, 32, 0.4);
  border: 1px solid #ff1a2a;;
}

.about-btn:hover {
  background: #ff1a2a;
  color: white;
  box-shadow: 0 6px 25px rgba(229, 9, 20, 0.5);
  transform: translateY(-3px);
}

/* ===========================
   RESPONSIVE
=========================== */
@media (max-width: 992px) {
  .about-row {
    flex-direction: column;
  }

  .about-img-overlay {
    bottom: -20px;
    right: 0;
  }
}

@media (max-width: 600px) {
  .about-title {
    font-size: 29px;
  }

  .about-img-overlay {
    width: 80%;
  }
}